<h1> Uber Ride Fare Calculation App</h1>

<h3> Choose your preferred method </h3>
<br><br>
<%= button_to "Total Amount", action: "get_total_amount" %>
<br>
<%= button_to "Amount for current month", action: "get_amount_current_month" %>